
.header-container {

}

.header-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.header-logo-container {

}

.header-logo {
    height: 35px;
}