// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

$montseratt: 'Montserrat', sans-serif;

$serif: georgia,"times new roman",times,serif;
$sans-serif: arial, helvetica, sans-serif;

$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;
$darkest-gray: #2d333f;

.user-index-container {
    display: flex;
    flex-wrap: wrap;
}

.user {
    font-family: $montseratt;
    font-weight: 400;
    text-decoration: none;
    height: 240px;
    width: 150px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid $light-gray;
    margin: 10px;

    transition: all 1s ease 0s;
}

.user:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: 0.3s;
    -webkit-box-shadow: 0 2px 6px $light-gray;
    -moz-box-shadow:    0 2px 6px $light-gray;
    box-shadow:         0 2px 6px $light-gray;
}

.user-icon-container {
    width: inherit;
    padding-top: 6px;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
}

.user-icon {
    width: 135px;
    height: inherit;
    border: 1px solid $gray;
    border-radius: inherit;
    background-color: $lightest-gray;
}

.full-name {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-icon-container {
    display: flex;
    flex-direction: row;
}

.social-icon-container {
    width: fit-content;
    height: fit-content;
}

.social-icon {
    width: 50px;
    height: 50px;

    transition: all 1s ease 0s;
}

.social-icon:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: 0.3s;
    -webkit-box-shadow: 0 2px 6px $light-gray;
    -moz-box-shadow:    0 2px 6px $light-gray;
    box-shadow:         0 2px 6px $light-gray;
}